{% extends 'quotes/base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'quotes/upload.css' %}">
{% endblock %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-a612">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-align-center u-custom-font u-font-roboto-condensed u-text u-text-default u-text-1">Upload Author</h2>
    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
    <div class="u-align-center u-form u-form-1">

      {% if messages %}
        <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
        </ul>
      {% endif %}
      <!-- Form method='POST' -->
      <form action="{% url 'quotes:form_author' %}" method='POST' class="u-form-spacing-10 u-clearfix u-inner-form">  <!-- u-form-vertical -->
        {% csrf_token %}
        <div class="u-form-group u-form-name">
          <label for="fullname" class="u-label">Author name</label>
          {{ form.fullname }}
        </div>
        <div class="u-form-group form-mar_top" style="margin-top: 5px;">
          <label for="born_date" class="u-label">Born</label>
          {{ form.born_date }}
        </div>
        <div class="u-form-group u-form-group-3 form-mar_top" style="margin-top: 5px;">
          <label for="born_location" class="u-label">Place</label>
          {{ form.born_location }}
        </div>
        <div class="u-form-group u-form-group-3 form-mar_top" style="margin-top: 5px;">
          <label for="picture" class="u-label">Photo</label>
          {{ form.picture }}
        </div>
        <div class="u-form-group u-form-textarea u-form-group-4 form-mar_top" style="margin-top: 5px;">
          <label for="description" class="u-label">About Author</label>
          {{ form.description }}
        </div>

        <div class="u-align-right u-form-group">
          <a href="{% url 'quotes:form_tag' %}" style="margin-top: 20px; float: right; margin-left: 20px;" class="u-active-black u-border-2 u-border-black u-btn u-button-style u-custom-font u-font-roboto-condensed u-hover-palette-5-dark-2 u-none u-radius-10 u-text-black u-text-hover-white u-btn-1">NEXT</a>
        </div>

        <div class="u-align-right u-form-group u-form-submit form-mar_top">
          <a href="#" style="margin-top: 20px;" class="u-active-black u-border-2 u-border-black u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-font-roboto-condensed u-hover-palette-5-dark-2 u-none u-radius-10 u-text-black u-text-hover-white u-btn-1">UPLOAD</a>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
      </form>

    </div>
  </div>
</section>
{% endblock%}