.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 170px auto 0;
}

.u-section-1 .u-form-1 {
  height: 419px;
  width: 570px;
  margin: 49px auto 60px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;

}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}

