{% extends "quotes/base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'users/logout.css' %}">
{% endblock %}

{% block content %}

<section class="u-clearfix u-section-1" id="sec-b3a8">
    <div class="u-clearfix u-sheet u-sheet-1" style="margin-top: 150px; height: 100vh;">
      <h2 class="u-text u-text-default u-text-1" style="text-align: center;">Request sent</h2>
      <p style="text-align: center; color: #1c9600;"><i>We've emailed you with instructions on how to reset your password</i></p>
      <a href="{% url 'users:signin' %}" class="u-border-2 u-border-black u-btn u-btn-round u-button-style u-hover-black u-none u-radius-10 u-text-hover-white u-btn-1" style="margin: 0 auto;">SIGN IN</a>
    </div>
  </section>

{% endblock %}