.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 400px;
  margin: 156px auto 0 100px;
}

.u-section-1 .u-text-1 {
  margin: -389px 101px 0 500px;
}

.u-section-1 .u-line-1 {
  width: 100px;
  transform-origin: right center 0px;
  height: 3px;
  margin: 5px auto 0 500px;
}

.u-section-1 .u-text-2 {
  margin: 51px 120px 0 500px;
}

.u-section-1 .u-text-3 {
  margin: -3px 700px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 283px;
    margin-right: 294px;
    margin-left: 400px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -2px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 44px;
    margin-right: 20px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
    margin-right: 311px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 225px;
    margin-left: 181px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 200px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 169px;
    margin-left: 1px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 106px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 195px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -124px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -184px;
    margin-right: 113px;
  }
}