{% extends "quotes/base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'users/nicepage.css' %}">
{% endblock %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-b3a8">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-roboto-condensed u-text u-text-default u-text-1">Reset password</h2>
        <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
        <div class="u-form u-form-1">
  
            {% if form.error %}
                <div class="u-form-send-error">{{ form.non_field_errors }}</div>
            {% endif %}

            {% if messages %}
            {% for msg in messages %}
                <div style="text-align: center; color: #1c9600;">{{ msg }}</div>
            {% endfor %}
            {% endif %}

            <form method="post" class="u-clearfix u-form-spacing-10 u-inner-form" style="padding: 10px;">
                {% csrf_token %}

                <div class="u-form-group u-form-name">
                    <label for="{{form.email.id_for_label}}" class="u-label">Email</label>
                    {{ form.email }}
                    {% if form.error %}
                    <div class="u-form-send-error">{{ form.errors.email }}</div>
                    {% endif %}
                </div>

                <div class="u-align-right u-form-group u-form-submit">
                    <a href="#" style="margin-top: 20px;" class="u-active-black u-border-2 u-border-active-palette-5-dark-2 u-border-black u-border-hover-palette-5-light-1 u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-font-roboto-condensed u-hover-palette-5-dark-2 u-radius-10 u-white u-btn-1">SEND</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
            </form>
  

        </div>
    </div>
</section>

{% endblock %}