{% extends 'quotes/base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'users/signup.css' %}">
{% endblock %}

{% block content %}
<section class="u-clearfix u-section-1" id="sec-b3a8">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-align-center u-custom-font u-font-roboto-condensed u-text u-text-default u-text-1">Register</h2>
    <div class="u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
    <div class="u-align-center u-form u-form-1">

{% if form.error %}
<div class="u-form-send-error">{{ form.non_field_errors }}</div>
{% endif %}

      <form action="{% url 'users:signup' %}" class="u-clearfix u-form-spacing-10 u-inner-form" method="post" style="padding: 10px;">
        {% csrf_token %}
        <div class="u-form-group u-form-name">
          <label for="{{form.username.id_for_label}}" class="u-label">Username</label>
          {{ form.username }}
          {% if form.error %}
          <div class="u-form-send-error">{{ form.errors.username }}</div>
          {% endif %}
        </div>
        
        <div class="u-form-email u-form-group" style="margin-top: 5px;">
          <label for="{{form.first_name.id_for_label}}" class="u-label">First name</label>
          {{ form.first_name }}
          {% if form.error %}
          <div class="u-form-send-error">{{ form.errors.first_name }}</div>
          {% endif %}
        </div>
        
        <div class="u-form-group u-form-group-3" style="margin-top: 5px;">
          <label for="{{form.last_name.id_for_label}}" class="u-label">Last name</label>
          {{ form.last_name }}
          {% if form.error %}
          <div class="u-form-send-error">{{ form.errors.last_name }}</div>
          {% endif %}
        </div>
        
        <div class="u-form-group u-form-group-4" style="margin-top: 5px;">
          <label for="{{form.email.id_for_label}}" class="u-label">Email</label>
          {{ form.email }}
          {% if form.error %}
          <div class="u-form-send-error">{{ form.errors.email }}</div>
          {% endif %}
        </div>
        
        <div class="u-form-group u-form-group-5" style="margin-top: 5px;">
          <label for="password1" class="u-label">Password</label>
          {{ form.password1 }}
          <div>{{ form.errors.password1 }}</div>
        </div>

        <div class="u-form-group u-form-group-5" style="margin-top: 5px;">
          <label for="password2" class="u-label">Repeat password</label>
          {{ form.password2 }}
          <div>{{ form.errors.password2 }}</div>
        </div>
        
        <div class="u-align-right u-form-group u-form-submit">
          <a href="#" style="margin-top: 20px;" class="u-active-black u-border-2 u-border-black u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-font-roboto-condensed u-hover-palette-5-dark-2 u-none u-radius-10 u-text-black u-text-hover-white u-btn-1">SINGUP</a>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
      </form>
      
    </div>
  </div>
</section>
{% endblock %}